node_modules
.next
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.git
.gitignore
README.md
.DS_Store
*.pem
.vscode
.idea
coverage
.nyc_output
dist
build
*.log
.turbo
prisma/dev.db
prisma/dev.db-journal